<div class="container">
    <a routerLink="" class="logo">
        <h1 class="">EDUNAV</h1>
        <div>Scholar orientation</div>
    </a>
    <div class="links">
        <a class="nav-link" routerLink="university" routerLinkActive="active"  >Ecole/Universite</a>
        <a class="nav-link" routerLink="metier" routerLinkActive="active">Metiers</a>
        <a class="nav-link" routerLink="que-faire" routerLinkActive="active">Que puis-je faire ?</a>
    </div>
    <a class="signup" routerLink="signup"><img src="../../../assets/icons/Filter_big.png" alt=""> &nbsp;Se connecter</a>
    <!-- <button><img src="" alt=""></button> -->
</div>
