<div class="container">
    <div class="contact">
        <h3>Contact</h3>
        <p>Tel : +237 696 527 034 <br> / +237 690 000 000</p>
        <p>LUGAR SARL</p>
        <p>contact@lugarsar.com</p>
    </div>
    <div class="links">
        <h3>Contact</h3>
        <p>Tel : +237 696 527 034 <br> / +237 690 000 000</p>
        <p>LUGAR SARL</p>
        <p>contact@lugarsar.com</p>
    </div>
    <div class="abonnement">
        <form action="" class="form">
            <p>Abonnez vous a notre <br> newsletter</p>
            <input type="text" placeholder="Inserez votre adresse mail">
            <button type="submit">Souscrivez</button>
        </form>
    </div>
</div>
